body {
    background-image: url("https://i.ytimg.com/vi/s1yeQOipJZc/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Oxygen', sans-serif
}

h1 {
    margin-left: 10%;
    font-family: 'Black Ops One', cursive;
    color: #1d3555;
}

h2 {
    margin-left: 12%;
    margin-top: 5%;
    font-family: 'Black Ops One', cursive;
    color: #1d3555;
}

#products {
    margin-left: 4%;
}

.refresh-button {
    margin-left: 4%;
}

td {
    padding: 5%;
}



