body {
    background-color: black;
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    text-align: center;
}

.intro-text {
    margin-top: 300px;
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    overflow: visible;
   
}

#intro-prompt {
    top: 40%;
    position: absolute;
    float: left;
    left: 40%;
}

#choose-wisely-instruction {
    color: brown;
    font-family: 'Creepster', cursive;
    font-size: 60px;

}

#fork-image{
    top: 10%;
    z-index: 1;
    overflow: visible;
    height: 600px;
    width: 1257px;
    position: inherit;
}

#left-button{
    height: 250px;
    width: 300px;
    float: left;
    position: absolute;
    top: 230px;
    left: 210px;
    z-index: 3;
}

#right-button{
    height: 250px;
    width: 340px;
    float: right;
    position: absolute;
    top: 230px;
    right: 210px;
    z-index: 3;
}


#ghostLeft{
    position: absolute;
    opacity: 0.7;
    top: 40%;
    left: 30%;
}

#ghostRight{
    position: absolute;
    opacity: 0.7;
    top: 43%;
    right: 34%;
}